@import "tailwindcss";

:root {
}

@theme inline {
  --color-primary: #0369a1;
  --color-secondary: #fdba74;
  --color-text: #27272a;
  --color-background: #f0fdfa;
  --color-container: #ffffff;
  
}


body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
}

.scrollbar-hover {
  scrollbar-width: 6px;
}

.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
}

.scrollbar-hover::-webkit-scrollbar-button {
  display: none;
}
